<!-- <div class="m-5" *ngFor="let post of AllPosts">
    <p>{{post.categoria}}</p>
    <h3>{{post.titulo}}</h3>
    <p>{{post.autor}} a {{post.fecha}}</p>
    <img [src]="post.imagen">
    <p>{{post.texto}}</p>
</div> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['/blog']">My Angblog <span class="ml-3">|</span></a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/blog']">Blog</a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" href="#" [routerLink]="['/new']">Nuevo Post</a>
        </li>
      </ul>
  
      <form class="form-inline my-2 my-lg-0">
        <select class="custom-select mr-3" (change)="filtrarPost($event)">
          <option value="''">Filtra por categoria</option>
          <option value="Salud">Salud</option>
          <option value="Que caloh">Que caloh!</option>
          <option value="Progresa adecuadamente">Progresa adecuadamente</option>
        </select>
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Filtrar</button>
      </form>
      
    </div>
  </nav>

<div class="row row-cols-2 row-cols-md-4 ml-2 mt-3 mr-2">
    <div class="col mb-4" *ngFor="let post of AllPosts">
        <div class="card">
            <img [src]="post.imagen" class="card-img-top">
            <div class="card-body">
                <div class="categoria">
                    <p>{{post.categoria}}</p>
                </div>
                <h4 class="card-title">{{post.titulo}}</h4>
                <p class="card-text">{{post.texto}}</p>
            </div>
            <div class="d-flex justify-content-between m-2">
                <h6>{{post.autor}}</h6>
                <h6>{{post.fecha}}</h6>
            </div>
        </div>
    </div>
</div>